body{
    background-color: #0A0B05;
    font-family: sans-serif;
}
h1{
    color: white;
}
.drumkit-image{
    background-image:url("./img/drumkit.png");
    width: 720px;
    height: 480px;
}
.drumkit-wrapper{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.drumkit{
    width: 720px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
span{
    color: white;
    font-size: 20px;
}
.drum-sounds{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 100px;
}
.drum-sound{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.drumkit button{
    width: 20px;
    height: 20px;
    background-color: white;
}
.active{
    background-color: #009b27 !important;
}
#tempo{
    height: 20px;
    width: 80px;
    font-size: 20px;
    text-align: center;
}
.metronome{
    height: 100px;
}
.metronome h1{
    margin:0;
}
.met-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options-buttons{
    margin-top: 10px;
}
.options-buttons button{
    width: 50px;
}
.channels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 720px;
}
.channel-recordings{
    display: flex;
    flex-direction: row;
    width: 720px;
}
.btn-recording::after{
    content: "Start recording";
}
.btn-recording-active::after{
    content: "Stop recording";
}
.btn-play-selected::after{
    content: "Play selected";
}
.recording, .recording-cloned{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background-color: #FACF7E;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin-right: 10px;
}
.recording:first-of-type{
    display: none;
}
.recording-top{
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.recording-top span{
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-left: 3px;
    padding: 0;
}
.btn-play{
    background: none;
    border: none;
    padding: 0;
    height: 70px;
    width: 150px;
    
}
.btn-play:hover::after{
    color: #009b27;
}
.btn-play::after{
    content: "▶";
    color: black;
    font-size: 50px;
    font-weight: 650;
}
.btn-delete{
    background: none;
    border: none;
    padding: 0;
    height: 30px;
    width: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn-delete::after{
    content: "DELETE";
    color: black;
    font-size: 30px;
    font-weight: 650;
}
.btn-delete:hover::after{
    color: firebrick;
}
#net-status {
    color: white;
    height: 30px;
    position: sticky;
    top: 0;
    padding: 10px;
}
#status-online {
    color: lightgreen;
}

#status-offline {
    color: lightcoral;
}